.dot-before::before {
    content: "•";  
    margin-right: 5px;  
}
.shadow-equal {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  }
  .rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;  
  }
  