.header {
    display: flex;
    align-items: center; 
}

.container {
    margin: auto;
}

 
@media screen and (max-width: 767px) {
    .header {
        flex-direction: column; 
    }

    .grid-cols-6 {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
 
}
