/* Remove black border color and update to gray */
[type='text'], 
[type='email'], 
[type='url'], 
[type='password'], 
[type='number'], 
[type='date'], 
[type='datetime-local'], 
[type='month'], 
[type='search'], 
[type='tel'], 
[type='time'], 
[type='week'], 
[multiple], 
textarea, 
select {
    appearance: none;
    background-color: transparent;
    border-color: #CBCBCB !important;  
    border-width: 1px;  
    border-style: solid;  
}

 
.bg-\[\#F4F4F4\] {
    background-color: transparent;
}
